
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listar</h1>

<div class="card">
    <h5 class="card-header">
        Lista Contacto
    </h5>
    <div class="card-body">



    </div>
</div>